@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Outfit', -apple-system, BlinkMacSystemFont, sans-serif;
    @apply bg-gray-50 text-black antialiased text-base font-semibold;
    -webkit-text-size-adjust: 100%;
    touch-action: manipulation;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

@layer components {
  .nav-item {
    @apply flex flex-col items-center justify-center w-12 h-12 transition-colors;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
